.flex-row, .flex-row-md, .flex-row-lg {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;

	&.nowrap {
		flex-wrap: nowrap;
	}

	&.flex-inline {
		display: inline-flex;
	}

	>.flex-1 {
		flex: 1;
	}

	>.flex-100 {
		flex-basis: 100%;
	}

	>*, >.el-button+.el-button {
		margin: 0;
	}

	>.align-end {
		align-self: flex-end;
	}
}

.flex-row {
	row-gap: 5px;
	column-gap: 10px;
}

.flex-row-md {
	row-gap: 10px;
	column-gap: 20px;
}

.flex-row-lg {
	row-gap: 20px;
	column-gap: 40px;
}

.flex-column, .flex-column-sm, .flex-column-md, .flex-column-lg, .flex-column-xl {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	&.flex-align-end {
		align-items: flex-end;
	}

	>*, >.el-button+.el-button {
		margin: 0;
	}
}

.flex-column {
	row-gap: 10px;
}

.flex-column-sm {
	row-gap: 5px;
}

.flex-column-md {
	row-gap: 20px;
}

.flex-column-lg  {
	row-gap: 40px;
}

.flex-column-xl {
	row-gap: 60px;
}

.page-width-sm {
	max-width: 600px;
	margin: 0 auto;
}

.page-width-md {
	max-width: 800px;
	margin: 0 auto;
}

.page-width-lg {
	max-width: 1000px;
	margin: 0 auto;
}

.page-width-xl {
	max-width: 1200px;
	margin: 0 auto;
}
