$border-radius: 10px;

$space-bg-color: #d5f4ff;
$space-drop-shadow: 0 0 10px 0 rgba(255, 255, 255);
$space-inner-drop-shadow: inset 0 0 10px 0 rgba(255, 255, 255);

$title-border: medium solid green;
$title-bg-color: white;
$title-color: black;

$tag-border: medium solid purple;
$tag-bg-color: white;
$tag-color: black;

$text-border: thin solid gray;
$text-bg-color: scale-color(gray, $lightness: 90%);
$text-color: black;
